section.formulaire {
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.formulaire__title {
  color: #5d2be7;
  font-size: 1.6rem;
  //border: 2px solid red;
}

.formulaire__text {
  
  font-size: 1.1rem;
  margin: 2rem;
  //border: 2px solid red;
}


/* Style du formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

/* Style des labels */
label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  width: 80%;
  max-width: 500px;
  margin-left: 10%;
  text-align: left;
}

/* Style des champs de texte */
input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


button[type="submit"] {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #e07b00; 
}

/* Style pour le bouton "Get ticket" */
button[type="button"] {
  background-color: rgb(255, 106, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="button"]:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 106, 0);
  border: 1px solid rgb(255, 106, 0);
}

/* Style du bouton "Send Your Subject" avec border orange et texte orange */
button[type="submit"] {
  background-color: white;
  color: rgb(255, 106, 0);
  border: 2px solid rgb(255, 106, 0);
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: rgb(255, 106, 0);
  color: white;
}

/* Styles pour les petits écrans (responsive) */
@media screen and (max-width: 768px) {
  section.formulaire {
    width: 95%;
  }
  

  /* Réduire la taille du titre */
  h1 {
    font-size: 2rem;
  }
  
}